.errors {
	background-color:#FFCCCC;
	border:1px solid #CC0000;
	width:400px;
	margin-bottom:8px;
}
.errors li{
	list-style: none;
}
.form {
	border-radius: 25px;
    border: 2px solid #73AD21;
 	background-color: #CCFBB7;
    width: 400px;
    height: 200px;
    padding: 20px;
    
}
body{
/* 	background-color: #e6ffe6; */
}
.module{
	border-color: green;
	border-width: 2px;
	width: 400px;
    height: 100%;
	margin: 150px auto;
	
}

td.tdLabel {
/*     text-align: right; */
/*     padding-right: 15px; */
/*     height: 15px; */
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    
}

table.wwFormTable {
    width: 100%;
    margin: 0 auto;
    margin-left: 15px;
}

.login{
	margin-top: 10px;
	width: 90px;
	height: 30px;
	padding: 3px 10px;
	font-weight: bold;
	border-radius: 5px;
	border: 2px solid orange;
	background-color:  #ffb84d;
}

input[type="text"], input[type="password"]{
	border: 1px solid orange;
    border-radius: 5px;
    height: 22px;
    margin-bottom: 3px;
    padding: 2px 3px;
    font-size: 16px;
}

