br {
	display: none;
}

tr td:nth-child(1){
	font-weight: bold;
	width: 180px;
}

tr td:nth-child(3) {
	font-weight: bold;
	width: 120px;
}

tr td:nth-child(2){
	width: 200px;
}
body{
	background-color: #F8FEF1;
}
tr td:nth-child(4) {
	width: 150px;
}
.global {
	border: solid 2px green;
	border-radius: 10px;
	width: 750px;
	margin: 100px auto;
	padding: 30px 40px;
	background-color: #4CC552;
}

.submit{
	margin-top: 10px;
}

h2{
	color: red;
	text-align: center;
	font-size: xx-large
}

.common{
	border: solid 2px #76CE18;
	border-radius: 20px;
	width: 650px;
	margin: 10px auto;
	padding: 30px 40px;
	background-color: #C6FC8C;
}
.back{
	margin-top: 10px;
	width: 90px;
	height: 30px;
	padding: 3px 10px;
	border-radius: 5px;
	border: 1px solid black;
	background-color:  #D9DBD5;
	
	color: #00000;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
}

.update{
	margin-top: 10px;
	width: 90px;
	height: 30px;
	padding: 3px 10px;
	border-radius: 5px;
	border: 1px solid orange;
	background-color:  #ffb84d;
	
	color: #00000;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    
  
}
.back:hover, .back:focus {
    background-color: #F8FAF3;
    border-color: #00000;
}

.update:hover, .update:focus{
    background-color: #F5DD02;
    border: 1px solid orange;
}
