br {
	display: none;
}

tr td:nth-child(1){
	font-weight: bold;
	width: 180px;
}

tr td:nth-child(3) {
	font-weight: bold;
	width: 120px;
}

tr td:nth-child(2){
	width: 200px;
}
body{
	background-color: #F8FEF1;
}
tr td:nth-child(4) {
	width: 150px;
}
.global {
	border: solid 2px green;
	border-radius: 10px;
	width: 750px;
	margin: 100px auto;
	padding: 30px 40px;
	background-color: #4CC552;
}

.submit{
	margin-top: 10px;
}

h2{
	color: red;
}

.common{
	border: solid 2px #76CE18;
	border-radius: 20px;
	width: 650px;
	margin: 10px auto;
	padding: 30px 40px;
	background-color: #C6FC8C;
}
