h2 {
	color: #009900;
}

.errors {
	background-color:#FFCCCC;
	border:1px solid #CC0000;
	width:400px;
	margin-bottom:8px;
}
.errors li{
	list-style: none;
}
/* body { */
/*   background: #e9e9e9; */
/*   color: #666666; */
/*   font-family: 'RobotoDraft', 'Roboto', sans-serif; */
/*   font-size: 14px; */
/* } */

/* .form-module button:hover { */
/*   background: #178ab4; */
/* } */

/* .form-module { */
/*   position: relative; */
/*   background: #ffffff; */
/*   max-width: 320px; */
/*   width: 100%; */
/*   border-top: 5px solid #33b5e5; */
/*   box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); */
/*   margin: 0 auto; */
/* } */

/* .form-module .form { */
/*   display: none; */
/*   padding: 40px; */
/* } */